
body {
    padding-top:50px;

}

h1, h2, h3, h4,
strong {
  font-family: 'Kaushan Script', cursive;
}

.cookies {
    margin-top:1em;
}

/* Source : https://bootsnipp.com/snippets/featured/sign-in-panel */
.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
